// Place all the styles related to the PublicExams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.public-exam-form-container {
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid rgb(66, 139, 202);
  padding: 10px;

  div.row {
    margin-bottom: 30px;
  }
}

