// Place all the styles related to the SchoolDocuments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#solutions-upload-field {
  visibility: hidden;
}

#audios-upload-field {
  visibility: hidden;
}

.school-document-form-container {
  margin-top: 30px;
  border-radius: 3px;
  border: 2px solid black;
  padding: 10px;
}

.school-document-form-container div.row {
  margin-bottom: 30px;
}